@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* style home component */
.home {
  padding-top: 40px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.home h3{
  padding-top: 20px;
  padding-bottom: 40px;
}
.home button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new quote form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


